.saved-pg-result-area {
  margin-top: 50px;
}

.library-title {
  margin-top: 50px;
}

.gif {
  margin: 20px 0px 20px 30px;
}

@media only screen and (max-width: 576px) {
  .gif {
    margin-left: 45px;
  }
}