body {
  background-color: #D8D8F6;
}

.nav-cust-style {
  background-color: #B18FCF;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.page-title {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-result-area {
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
}

.search-input {
  margin: 10px 0px 10px 530px;
}

.search-input {
  border: #978897 solid 2px;
  border-radius: 5px;
}

.search-btn {
  color: white;
  border: none;
  background-color: #978897;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  box-shadow: 0px 0px 5px 5px #D8D8F6;
  margin: 20px 0px 20px 20px;
}

.gif {
  width: 18rem;
}

@media only screen and (max-width: 576px) {
  .page-title {
    font-size: 50px;
  }
  .search-input {
    margin: 10px 0px 10px 0px;
  }
}